
#container {
	background: grey;
	height: 350px;
	width: 300px;
	padding-top: 20px;
	border-right: 3px solid black;
	border-bottom: 4px solid black;
    border-radius: 5px;
    font-family: "Helvetica", sans-serif;
}

#result_display {
	background: white;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;	
	width: 88%;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	font-size: 1.5em;
	border-bottom: 3px solid #4d4d4d;
	font-family: "Courier", sans-serif;
}

#operator_display {
	text-align: left;
	height: 12px;
	font-size: .75em;
	padding-left: 5px;
}

.row {
	height: 50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	width: 90%;
    border: 2px solid grey;
}

.button {
	width: 22%;
	height: 65%;
	margin: 4px 0px 4px 7px;
	background: #4d4d4d;
	text-align: center;
	padding-top: 10px;
	color: white;
	float: left;
	border-radius: 4px;
	border-bottom: 2px solid black;
	border-right: 1px solid black;
}
.button:active {
	-moz-box-shadow:    inset 0 0 5px #000000;
   	-webkit-box-shadow: inset 0 0 5px #000000;
   	box-shadow:         inset 0 0 5px #000000;
}